<div>
<div class="main">
<a routerLink="/product-details/{{product.id}}"><img src={{product.url}} style="width:200px;height:190px" /></a>
</div>
<br />
<div class="centerClass">
{{product.name}}
<br />
{{product.price|currency:"$"}}
<br />

<form #Form="ngForm" >
    <input class ="inputNum" #num="ngModel" type="number" required min="1"  name="quantity" [(ngModel)]="product.quantity" (ngModelChange)="printTOConsole($event)"  >
    
    <span class="text-danger"  *ngIf="(num.touched|| Form.submitted)&& num.errors?.['required']">
      Number is required
    </span>
    <span class="text-danger"  *ngIf="(num.touched|| Form.submitted)&& num.errors?.['min']">
        min Number is one
    </span>
    <br/>
    <button [disabled]="Form.invalid" reset type="submit"(click)="[addToCart($event, product),addNewItem(product.quantity)]" style="background-color:blue; color:white"  >Add To Cart</button>
    <br />
  </form>

<!-- <input class ="inputNum" type="number" id="quantity" name="quantity" [(ngModel)]="product.quantity" >
<br/>
<button (click)="[addToCart($event, product),addNewItem(product.quantity)]" style="background-color:blue; color:white"  >Add To Cart</button>
<br /> -->
</div>
</div> 
