<div >
    <!-- *ngFor="let product of cartproduct" -->
    <ul> 
        <div *ngFor="let product of cartproduct">
            <div class="sub2">
                <a routerLink="/order/{{product.id}}"><img src={{product.url}} class="imgSize" /></a>
                <br />
                Product : {{product.name}}
                <br />
                price {{product.price|currency:"$"}}
                <br />
                Amount: {{product.quantity }}
                <button (click)="removeFromCart( product)">Delete From Cart</button>
            </div>
        </div>
    </ul>
  
</div>

